@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Gunakan @theme inline hanya untuk definisi custom var ke Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Ini yang benar */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--foreground);
  color: var(--background);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}
